In [11]:
import pandas as pd
import json

In [12]:
def namespace(row):
    city = row['city'].replace(' ', '-').lower()
    country = row['country'].replace(' ', '-').lower()
    return f"{city}-{country}"

In [13]:
world_cities = pd.read_csv("world-cities.csv")
world_cities = world_cities.fillna("")
world_cities["processed"] = False
world_cities['namespace'] = world_cities.apply(namespace, axis=1)
world_cities = world_cities[['city', 'state', 'country', 'namespace', 'lat', 'lng', 'population', 'processed']]
world_cities

,city,state,country,namespace,lat,lng,population,processed
0,Guangzhou,,China,guangzhou-china,23.130000,113.260000,26940000,False
1,Shanghai,,China,shanghai-china,31.166700,121.466700,24073000,False
2,Seoul,,South Korea,seoul-south-korea,37.560000,126.990000,23016000,False
3,Mexico City,,Mexico,mexico-city-mexico,19.433300,-99.133300,21804000,False
4,Cairo,,Egypt,cairo-egypt,30.044400,31.235800,20296000,False
...,...,...,...,...,...,...,...,...
123,Christchurch,,New Zealand,christchurch-new-zealand,-43.531000,172.636500,383200,False
124,Florence,,Italy,florence-italy,43.771400,11.254200,380948,False
125,Belfast,,UK,belfast-uk,54.596400,-5.930000,333871,False
126,Venice,,Italy,venice-italy,45.438759,12.327145,261905,False
127,Geneva,,Switzerland,geneva-switzerland,46.201700,6.146900,201818,False

In [15]:
city_json = []

for row in world_cities.iterrows():
    city_json.append(row[1].to_dict())

with open("../cache/cache.json", "w") as file:
    json.dump(city_json, file, indent=4)